<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f3ef04;
}
</style>
</head>
<body>

<h2>Google Cloud Platform Overview</h2>

<table>
  <tr>
    <th>Cloud service</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>Compute Engine</td>
    <td>Infrastructure as a Service (IaaS)</td>
  </tr>
  <tr>
    <td>Kubernetes</td>
    <td>Container as a Service (CaaS) (needs clusters for service orchestration)</td>
  </tr>
  <tr>
    <td>App Engine</td>
    <td>Platform as a Service (PaaS)</td>
  </tr>
  <tr>
    <td>Cloud Functions</td>
    <td>Function as a Service (FaaS) or Serverless</td>
  </tr>
  <tr>
    <td>Cloud Run</td>
    <td>Container as a Service (CaaS) (Doesn't need a cluster)</td>
  </tr>
</table>

</body>
</html>